/**
Slider Box

Markup: ../../../../styleguide/templates/organisms/sliders/slider-box.html

Wrapper:
<div style="width:700px; position: relative">
<wrapper-content/>
</div>

Style guide: Organisms.slider-box

TO DO: change slider to more customizable

*/

$class-name-slider-box: rocksite-o-slider-box;

.#{$class-name-slider-box} {


  .#{$class-name-slider-box}__list {

    position: relative;
    padding-bottom: 4rem;

  }

  .#{$class-name-nav-control} {

    position: absolute;
    bottom: 0;
    z-index: 99;

    .slick-active {

      button {
        @extend %#{$class-name-nav-control}_pointer_active;
      }



    }

  }

  .-u-slick-arrow {

    position: absolute;
    bottom: 0;
    z-index: 100;

    &.-u-slick-next {

      right: 0;

    }

    &.-u-slick-prev {

      right: 5rem;

    }

  }

  .#{$class-name-slider-box}__control_nav {

    position: absolute;

  }

  &.-large-arrows {

    padding-bottom: 0;
    margin-bottom: 40px;
    position: relative;


    .#{$class-name-nav-control} {

      height: 0;
      top: 0;
      z-index: 200;
      width: 100%;


      > li {

        z-index: 200;
        height: 100%;
        position: absolute;
        display: flex;
        align-items: center;

        a {

          height: 40px;
          background: get-color(invert, 0.5);


        }

      }

      .rocksite-m-nav-prev {

        top: 0;
        left: 0;
        height: 100%;

      }

      .rocksite-m-nav-next {

        top: 0;
        right: 0;
        height: 100%;

      }

    }


  }


}

/**
Slider Banner

Markup: ../../../../styleguide/templates/organisms/sliders/slider-banner.html

Wrapper:
<div style="width:700px; position: relative">
<wrapper-content/>
</div>

Style guide: Organisms.slider-banner


*/


/* Slick Slider layer */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  [dir="rtl"] & {
    float: right;
  }
  img {
    display: block;
  }
  &.slick-loading img {
    display: none;
  }

  display: none;

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}
.slick-arrow.slick-hidden {
  display: none;
}