$layout-box-single-padding: 2rem;
$layout-box-single-padding-small: 1rem;
$layout-box-single-padding-large: $layout-grid-gutter;
$layout-box-border-decorator: 4px solid get-color-css(primary);
$layout-box-padding: 0;
$layout-box-shadow: none;
$layout-box-gutter-small: 0.3rem;
$layout-box-background: get-color(invert);
$layout-box-border-color: get-color(gray4);
$layout-box-margin: 0 0 3rem 0;
$layout-box-vertical-space: 2.1rem;
$layout-box-margin-content-bottom: 1.5rem;
$layout-box-horizontal-space: 2rem;
$layout-box-large-horizontal-space: 5rem;
$layout-box-large-vertical-space: 5rem;
$layout-box-medium-vertical-space: 4rem;
$layout-box-media-padding: 0 2rem;
$layout-box-header-margin: 0.5rem 0 0.4rem;
$text-box-footer-font-size: 1.2rem;

$layout-box-bg-padding--v: 2rem;
$layout-box-bg-padding--h: 2rem;



