$class-name-content: rocksite-o-content;
// Header
$content-header-height: 28rem;
$content-header-margin-bottom-small: 1.5rem;
$content-header-margin-bottom-medium: 2rem;
$content-header-margin-bottom-large: 3rem;
$content-header-middle-height: 18rem;
$content-header-title-font: font-family-css(secondary);
$content-header-title-font-size: 4rem;

// Entry Content
$content-content-block-vertical-space: 3.2rem;

// Gallery

$gallery-gutter: 1rem;



