$global-radius: 0;
$global-border-color: gray1;
$global-overlay-color: get-color(invert, 0.9);
$global-dark-overlay-color: get-color(text, 0.7);
$global-overlay-color-mobile: get-color(invert);
$global-margin-medium: 4rem;
