//default buttons
$item-list-padding: 8px 0;
$item-list-border-bottom: 2px solid get-color(gray4);
$item-list-border-bottom-darken: 1px solid lighten(get-color(secondary), 5%);
$item-group-space: 1rem;
