$page-header-section-margin: 0 0 6rem 0;
$page-header-section-padding: 2rem 0 2rem 0;
$page-header-section-padding-background: get-color-css(primary);


$s-navbar-main-bg: $main-nav-bg-color;
$section-light-background: get-color-css(gray1);