.u-hidden{

  display: none!important;

}

.u-align-center {

  text-align: center;

}

.u-align-right {

  text-align: right;

}
.u-flex-right {

	display: flex;
	justify-content: flex-end;

}

.u-pull-right{

  display: none;

}

.u-small {

	font-size: font-size(x-small)!important;
	line-height: 1.2;
}

.u-big {
	font-size: font-size(h6);
	line-height: 1.7;
}


.u-opacity-hidden {
	opacity: 0;
	z-index: -1;
}

.u-current-page-item{

	background: get-color(primary);
	border: 1px solid get-color(primary);
	color: get-color(white);
	cursor: auto;


}

// eccprdion expanded content

.u-expendaed {

	height: auto!important;

}


.u-text-inverted{
	color: get-color(invert);
}

.u-fill-overlay {

	position: relative;




	.u-fill-overlay__inner{

		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: $global-overlay-color-mobile;


		@include respond-to( medium ) {
			background: $global-overlay-color;
		}

		&.-right {

			left: auto;
			right: 0;


		}

	}

}

.u-margin-top-middle {
	margin-top: $global-margin-medium;
}

.u-no-scrool-html {


	overflow-y: scroll;
	width: 100%;
	left: 0px;
	top: 0px;



}

/**
RWD HELPERS
**/

.u-show-on-medium {

}

.u-show-on-medium {

}

.u-hide-on-desktop {

	display: block!important;

	@include respond-to(desktop) {

		display: none!important;

	}


}

.u-show-on-large {

	@include respond-to(components-wide) {

	}

}

.u-show-on-desktop {

}

.u-margin-bottom-50 {

	margin-bottom: 5rem;

}









