.wp-block-getwid-recent-posts {

  .wp-block-getwid-recent-posts__post {

    margin-bottom: 2.5rem;

    .wp-block-getwid-recent-posts__post-wrapper {
      padding-top: calc(5rem/1.6);
      position: relative;
    }



    .wp-block-getwid-recent-posts__post-title {

      @extend %#{$class-name-heading};
      font-size: editor-font-size(h5);



    }

    .wp-block-getwid-recent-posts__post-thumbnail {

      margin-bottom: $layout-box-vertical-space;


    }



    .wp-block-getwid-recent-posts__content-wrapper {

      margin-top: 0;


    }

    .wp-block-getwid-recent-posts__post-categories {

      position: absolute;
      top: 0;
      font-size: 0;


      a {
        @extend %#{$class-name-chips-label};
        font-size: editor-font-size(x-small);
        margin-right: 0.5rem;
        text-decoration: none;
        padding: 0.21rem 0.6rem;
      }

    }

    .wp-block-getwid-recent-posts__entry-meta {

      margin-top: 0.5rem;

      a {
        @extend %#{$class-meta-label};
      }
    }

    .wp-block-getwid-recent-posts__post-comments {

      a {
        @extend %#{$class-meta-label};
      }
    }

    .wp-block-getwid-recent-posts__post-content {
      margin-top: $layout-box-vertical-space;
    }

    .wp-block-getwid-recent-posts__post-excerpt {
      margin-top: $layout-box-vertical-space;
    }
  }
}