<div class="rocksite-o-slider-box">
	<div class="rocksite-o-slider-box__list js-slider">
		<div class="rocksite-o-slider-box__list__item">
			<div class="row">
				<div class="{{column_class}}">

					{{> "card" modifier_class="-card-stack" }}

				</div>

				<div class="col-md-6 col-sm-6">

					{{> "card" modifier_class="-card-stack" }}

				</div>

			</div>
		</div>
		<div class="rocksite-o-slider-box__list__item">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					{{> "card" modifier_class="-card-stack" }}
				</div>

				<div class="col-md-6 col-sm-6">
					{{> "card" modifier_class="-card-stack" }}
				</div>



			</div>
		</div>
		<div class="rocksite-o-slider-box__list__item">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					{{> "card" modifier_class="-card-stack" }}
				</div>



			</div>
		</div>
	</div>
</div>
