
<div id="nav_menu-1" class="rocksite-o-widget rocksite-o-widget--widget_nav_menu {{modifier_class}}">
	<header class="rocksite-o-widget__header"><h3 class="rocksite-o-widget__header__title">Menu</h3></header>
	<div class="menu-menu-sidebar-page-container">
		<ul id="menu-menu-sidebar-page" class="menu rocksite-m-nav-menu">
			<li id="rocksite-m-nav-menu__item--2090" class="rocksite-m-nav-menu__item  -type-post_type  -object-page"><a
				href="//127.0.0.1:3000/wordpress4.8/typography/" class="rocksite-m-nav-menu__link">Typography</a></li>
			<li id="rocksite-m-nav-menu__item--2089" class="rocksite-m-nav-menu__item  -type-post_type  -object-page"><a
				href="//127.0.0.1:3000/wordpress4.8/icons/" class="rocksite-m-nav-menu__link">Icons</a></li>
			<li id="rocksite-m-nav-menu__item--2093" class="rocksite-m-nav-menu__item  -type-post_type  -object-page"><a
				href="//127.0.0.1:3000/wordpress4.8/739-2/" class="rocksite-m-nav-menu__link">Buttons</a></li>
			<li id="rocksite-m-nav-menu__item--2092" class="rocksite-m-nav-menu__item  -type-post_type  -object-page"><a
				href="//127.0.0.1:3000/wordpress4.8/forms/" class="rocksite-m-nav-menu__link">Forms</a></li>
			<li id="rocksite-m-nav-menu__item--2091" class="rocksite-m-nav-menu__item  -type-post_type  -object-page"><a
				href="//127.0.0.1:3000/wordpress4.8/tables/" class="rocksite-m-nav-menu__link">Tables</a></li>
		</ul>
	</div>
</div>
