<div class="rocksite-m-accordion js-accordion" id="rocksite-accordion">

	<div class="rocksite-m-accordion__item js-accordion-item">
		<div class="rocksite-m-accordion__item__heading js-accordion-head">
			<h4 class="rocksite-m-accordion__item__heading__title">
				<a class="accordion-toggle" data-parent="#rocksite-accordion" href="#collapse518">Third point</a>
			</h4>
		</div>
		<div id="collapse518" class="rocksite-m-accordion__item__collapse js-accordion-collapse">

			<p></p><p>Note: this parameter was planned for Pages. Be careful, when choosing it for your custom post type – if you are planning to have many entries (say – over 100), you will run into memory issue. With this parameter set to true WordPress will fetch all entries of that particular post type, together with all […]</p>
			<p></p>

		</div>
	</div>

	<div class="rocksite-m-accordion__item js-accordion-item">
		<div class="rocksite-m-accordion__item__heading js-accordion-head">
			<h4 class="rocksite-m-accordion__item__heading__title">
				<a class="accordion-toggle" data-parent="#rocksite-accordion" href="#collapse517">Second point</a>
			</h4>
		</div>
		<div id="collapse517" class="rocksite-m-accordion__item__collapse js-accordion-collapse">

			<p></p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum nibh arcu. Fusce ut dui mauris. Vivamus suscipit quam egestas mi dictum, sit amet faucibus mauris tempus. Sed sagittis mauris id sapien scelerisque rutrum. Pellentesque faucibus tempus dolor. Proin mattis, arcu eu tempor ornare, risus mi tristique metus, non fringilla nisi diam id arcu. Quisque […]</p>
			<p></p>

		</div>
	</div>

	<div class="rocksite-m-accordion__item js-accordion-item">
		<div class="rocksite-m-accordion__item__heading js-accordion-head">
			<h4 class="rocksite-m-accordion__item__heading__title">
				<a class="accordion-toggle" data-parent="#rocksite-accordion" href="#collapse516">First point</a>
			</h4>
		</div>
		<div id="collapse516" class="rocksite-m-accordion__item__collapse js-accordion-collapse">

			<p></p><p>Nam facilisis viverra massa, non porttitor erat laoreet in. Mauris dapibus, leo sit amet pellentesque semper, erat felis suscipit dolor, vitae ornare ipsum augue non arcu. Aliquam non gravida mi. Donec et orci accumsan, lobortis arcu in, sodales nibh. Etiam posuere eros tellus, nec imperdiet dolor porttitor id. Etiam tempor metus finibus nibh condimentum, tempus […]</p>
			<p></p>

		</div>
	</div>


</div>
