<ol class="rocksite-m-breadcrumbs {{modifier_class}}">
	<li class="rocksite-m-breadcrumbs__item">
		<a href="#">{{start}}</a>
		<span class="rocksite-m-breadcrumbs__item__separator">/</span>
	</li>
	{{#if middle_category}}
	<li class="rocksite-m-breadcrumbs__item">
		<a href="#">{{middle_category}}</a>
		<span class="rocksite-m-breadcrumbs__item__separator">/</span>
	</li>
	{{/if}}
	<li class="rocksite-m-breadcrumbs__item">
		<a href="#">{{last_category}}</a>
		<span class="rocksite-m-breadcrumbs__item__separator">/</span>
	</li>
</ol>
