<div class="rocksite-m-card {{modifier_class}}">


	<div class="rocksite-m-card__content">

		<h5 class="rocksite-m-card__content__title"><a href="{{link}}">{{title}}</a></h5>

		<div class="rocksite-m-card__content__meta">
			<span class="rocksite-m-meta-label"><i class="la la-calendar"></i> <a href="{{link}}"
																												rel="bookmark">
				<time class="entry-date published updated" datetime="2015-08-23T21:33:31+00:00">{{meta1}}</time>
			</a></span> <span class="rocksite-m-meta-label">{{meta2}}:  <a
			href="{{link}}" title="Posts by admin" rel="author">admin</a> </span>
		</div>
        <div class="rocksite-m-card__content__button">
        {{> "buttons-icon" icon="la la-arrow-right"}}
        </div>
	</div>
	<div class="rocksite-m-card__thumbnail">

		<a href="{{link}}" class="rocksite-m-card__thumbnail__link"><img src="{{image}}" alt="Image"></a>

	</div>

</div>
