<div class="rocksite-m-content-banner {{modifier_class}}">

    <div class="rocksite-m-content-banner__image">
        <img src="{{image}}" alt="Test Image"/>
    </div>

    <div class="rocksite-m-content-banner__wrapper">

        <div class="rocksite-m-content-banner__wrapper__item">

            <h5 class="rocksite-m-content-banner__wrapper__item__title"><a href="{{link}}">{{title}}</a></h5>

            <div class="rocksite-m-content-banner__wrapper__item__content">
                <p>{{content}}</p>
            </div>
        </div>
    </div>



</div>
