<div class="rocksite-m-cover-header {{modifier_class}}">

    <div class="rocksite-m-cover-header__image">
        <img src="{{header_image}}" alt="Test Image" />
    </div>
    <div class="rocksite-m-cover-header__wrapper">

        <div class="rocksite-m-cover-header__wrapper__content">

            <h1 class="rocksite-m-cover-header__wrapper__content__title">
                {{header_title}}
            </h1>
            <p class="rocksite-m-cover-header__wrapper__content__text">{{header_content}}</p>

        </div>
        <div class="rocksite-m-cover-header__wrapper__scroll">
            {{> "buttons-icon" icon="la la-arrow-down"}}
        </div>

    </div>





</div>
