<div class="rocksite-m-hero-content {{modifier_class}}">
    <header class="rocksite-m-hero-content__header">
        <span class="rocksite-m-hero-content__header__above_title">{{above_title}}</span>
        <h2 class="rocksite-m-hero-content__header__title">{{title}}</h2>
    </header>
    <div class="rocksite-m-hero-content__content">

		<p>{{text}}</p>

	</div>
    <div class="rocksite-m-hero-content__footer">
        {{#each button_group}}

            {{> buttons }}

        {{/each}}
    </div>
</div>
