<ul class="rocksite-m-pagination rocksite-m-pagination--number">
	<li class="rocksite-m-pagination__item"><a class="prev page-numbers"
											   href="#">«
		Previous</a></li>
	<li class="rocksite-m-pagination__item"><a class="page-numbers"
											   href="#">1</a></li>
	<li class="rocksite-m-pagination__item"><span aria-current="page" class="page-numbers current">2</span></li>
	<li class="rocksite-m-pagination__item"><a class="page-numbers"
											   href="#">3</a></li>
	<li class="rocksite-m-pagination__item"><a class="next page-numbers"
											   href="#">Next »</a>
	</li>
</ul>
