<div class="rocksite-m-pricing-box {{modifier_class}}">
	<h4 class="rocksite-m-pricing-box__title">
		{{title}}
	</h4>
	<div class="rocksite-m-pricing-box__price">
		<span class="rocksite-m-pricing-box__price__currency">{{currency}}</span><span class="rocksite-m-pricing-box__price__amount">{{amount}}</span>
		<span class="rocksite-m-pricing-box__price__period">{{period}}</span>
	</div>
	<ul class="rocksite-m-pricing-box__features">
		<li>{{feature1}}</li>
		<li>{{feature2}}</li>
		<li>{{feature3}}</li>
	</ul>
    <div class="rocksite-m-pricing-box__footer">
	    {{> "buttons" modifier_class="-primary"}}
    </div>
</div>
