<div class="rocksite-m-price-list {{modifier_class}}">

	<div class="rocksite-m-price-list__thumbnail">
		<a href="#" class="rocksite-m-media__thumbnail__link"><img src="{{image}}" alt="Image"></a>
	</div>

	<div class="rocksite-m-price-list__content">

		<header class="rocksite-m-price-list__content__header">

			<h5 class="rocksite-m-price-list__content__header__title">{{title}}</h5>
			<span class="rocksite-m-price-list__content__header__price-line"></span>
			<span class="rocksite-m-price-list__content__header__price-wrapper">
				<span class="rocksite-m-price-list__content__header__price-wrapper__currency">{{currency}} </span>
				<span class="rocksite-m-price-list__content__header__price-wrapper__ammount">{{price}}</span>
			</span>
		</header>
		<span class="rocksite-m-price-list__content__label">{{label}}</span>
		<p class="rocksite-m-price-list__content__description">
			{{description}}
		</p>
	</div>


</div>
