<form role="search" method="get" id="searchform-content"
      class="rocksite-m-input-connections -searchform {{modifier_class}}" action="//127.0.0.1:3000/wordpress4.8/">


    <div class="rocksite-m-input-connections__group">
        <input type="text" value="" name="s" class="rocksite-m-input-connections__group__input" placeholder="Search">

        <span class="rocksite-m-input-connections__group__btn">
    <button class="rocksite-a-button-icon -secondary">
		<i class="la la-search"></i>
	</button>

    </span>
    </div>

</form>
