<div class="rocksite-m-team {{modifier_class}}">

	<div class="rocksite-m-team__image">
		<img  src="{{image}}" class="img-responsive" alt="">
	</div>
	<div class="rocksite-m-team__item">
	<h4 class="rocksite-m-team__item__title">Jonathan Test</h4>
		<p class="rocksite-m-team__item__subtitle">Author</p>
		<p class="rocksite-m-team__item__content">Wnde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>

	</div>
	<ul class="rocksite-m-team__shares rocksite-m-nav-menu -horizontal -icons">
		<li class="rocksite-m-nav-menu__item">{{> "buttons-social"  modifier_class="-email"}}</li>
		<li class="rocksite-m-nav-menu__item">{{> "buttons-social"  modifier_class="-twitter"}}</li>
		<li class="rocksite-m-nav-menu__item">{{> "buttons-social"  modifier_class="-facebook"}}</li>
		<li class="rocksite-m-nav-menu__item">{{> "buttons-social"  modifier_class="-gplus"}}</li>
	</ul>

</div>


