<div class="rocksite-m-testimonial {{modifier_class}}">

    <div class="rocksite-m-testimonial__content">
        <p>{{text}}</p>
    </div>
    <footer class="rocksite-m-testimonial__footer">
        <div class="rocksite-m-testimonial__footer__image">
            <img src="{{image}}" />
        </div>
        <div class="rocksite-m-testimonial__footer__content">
            <h5 class="rocksite-m-testimonial__footer__content__title">
                {{name}}</h5>
            <span class="rocksite-m-testimonial__footer__content__subtitle">{{caption}}</span>
        </div>

    </footer>
</div>