<article class="rocksite-o-content --article-full">




    <header class="rocksite-o-content__header">
        <h2 class="rocksite-o-content__header__title">
            Aliquam varius turpis vel scelerisque molestie Donec ac libero tellus
        </h2>
        <div class="rocksite-o-content__header__meta">


            <span class="rocksite-m-meta-label rocksite-force-display"><i class="fa fa-calendar"></i> <a
                    href="//127.0.0.1:3000/wordpress4.8/2019/04/29/post-all-types-of-content/" rel="bookmark">
                <time class="entry-date published" datetime="2019-04-29T11:10:13+00:00">April 29, 2019</time>
            </a></span> <span class="rocksite-m-meta-label">Published by:  <a
                href="//127.0.0.1:3000/wordpress4.8/author/admin/" title="Posts by admin" rel="author">admin</a> </span>
            <a href="//127.0.0.1:3000/wordpress4.8/2019/04/29/post-all-types-of-content/#respond"
               class="rocksite-a-button -icon-link"><i class="fa fa-comments" data-toggle="tooltip" data-placement="top"
                                                       title="" data-original-title="Comments"></i> 0 </a>
        </div>

    </header>

    <div class="rocksite-o-content__thumbnail">
        <div class="rocksite-m-thumbnail">

            <img width="1000" height="520" src="{{image}}" alt="">

        </div>
    </div>

    <div class="rocksite-o-content__entry entry-content">
        <h3>– Headers</h3>
        <h1>h1 Sodales consequat habitasse</h1>
        <h2>h2 Bibendum nec mauris varius</h2>
        <h3>h3 Platea vitae blandit ante</h3>
        <h4>h4 Cum conubia amet mauris</h4>
        <h5>h5 Ipsum nullam congue porttitor</h5>
        <hr>
        <h5>Normal paragraph</h5>
        <p>Velit natoque malesuada laoreet quam mus ut at eros per odio laoreet ligula massa fermentum tincidunt sed
            cursus dolor et etiam eleifend ac ultricies gravida sem vel porta vestibulum maecenas quam ultrices nulla
            habitant nullam libero et ac facilisi nunc in mollis vivamus facilisi vehicula morbi inceptos scelerisque
            interdum convallis</p>
        <hr>
        <h5>Small paragraph</h5>
        <p><span class="u-small">Rhoncus vivamus pulvinar tellus sed dictum ipsum taciti primis elit inceptos potenti eros mauris curae malesuada nullam sollicitudin per sit mi natoque inceptos rutrum dis molestie faucibus vestibulum habitant bibendum tempus lobortis dolor arcu auctor tempus lorem sed habitasse facilisis imperdiet dapibus porttitor felis parturient magna natoque aenean malesuada nostra</span>
        </p>
        <hr>
        <h5>Big paragraph</h5>
        <p><span class="u-big">Varius aenean odio tincidunt eu interdum euismod cum mus quisque diam pulvinar eleifend dictum mattis mauris eu est adipiscing sem diam condimentum ullamcorper lobortis tempor facilisi ultrices sociosqu suspendisse urna elit quis class nisi nulla nec aliquet integer erat convallis per ultricies tempus risus ligula et porttitor gravida himenaeos aenean</span>
        </p>
        <hr>
        <h5>Italic paragraph</h5>
        <p><em>Lectus dictumst tellus euismod fermentum cubilia urna parturient arcu nam adipiscing donec tellus etiam
            consectetur morbi luctus orci per ridiculus condimentum magnis penatibus lobortis ligula dictumst nam proin
            quisque morbi feugiat cursus proin varius lectus sollicitudin nisi dignissim suspendisse id auctor
            parturient arcu suspendisse himenaeos dapibus accumsan tellus dui bibendum</em></p>
        <hr>
        <h5>Strong paragraph</h5>
        <p><strong>Diam mauris senectus eleifend mi imperdiet turpis vestibulum molestie natoque porta convallis cursus
            pharetra turpis at tempus risus quis nulla penatibus maecenas venenatis conubia vitae tempus purus lectus
            rutrum natoque senectus tortor nam odio ipsum gravida est phasellus eleifend conubia imperdiet sagittis
            mattis blandit tellus nam vel natoque dolor blandit</strong></p>
        <hr>
        <h5>Blockqoute</h5>
        <blockquote><p>Sagittis justo gravida venenatis primis vitae quisque eu vulputate bibendum lacus orci fames
            blandit semper convallis tempus sociis tincidunt gravida laoreet penatibus congue iaculis dis justo ligula
            senectus tempor leo inceptos rhoncus platea nibh tortor senectus hendrerit dis lacinia arcu consectetur
            commodo vel class penatibus parturient vehicula a egestas porta</p>
            <footer>Someone famous in <cite title="Source Title"><a href="#">Source Title</a></cite></footer>
        </blockquote>
        <p>Nested and mixed lists are an interesting beast. It’s a corner case to make sure that</p>
        <ul>
            <li>Lists within lists do not break the ordered list numbering order</li>
            <li>Your list styles go deep enough.</li>
        </ul>
        <h3>Ordered – Unordered – Ordered</h3>
        <ol>
            <li>ordered item</li>
            <li>ordered item
                <ul>
                    <li><strong>unordered</strong></li>
                    <li><strong>unordered</strong>
                        <ol>
                            <li>ordered item</li>
                            <li>ordered item</li>
                        </ol>
                    </li>
                </ul>
            </li>
            <li>ordered item</li>
            <li>ordered item</li>
        </ol>
        <h3>Ordered – Unordered – Unordered</h3>
        <ol>
            <li>ordered item</li>
            <li>ordered item
                <ul>
                    <li><strong>unordered</strong></li>
                    <li><strong>unordered</strong>
                        <ul>
                            <li>unordered item</li>
                            <li>unordered item</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>ordered item</li>
            <li>ordered item</li>
        </ol>
        <h3>Unordered – Ordered – Unordered</h3>
        <ul>
            <li>unordered item</li>
            <li>unordered item
                <ol>
                    <li>ordered</li>
                    <li>ordered
                        <ul>
                            <li>unordered item</li>
                            <li>unordered item</li>
                        </ul>
                    </li>
                </ol>
            </li>
            <li>unordered item</li>
            <li>unordered item</li>
        </ul>
        <h3>Unordered – Unordered – Ordered</h3>
        <ul>
            <li>unordered item</li>
            <li>unordered item
                <ul>
                    <li>unordered</li>
                    <li>unordered
                        <ol>
                            <li><strong>ordered item</strong></li>
                            <li><strong>ordered item</strong></li>
                        </ol>
                    </li>
                </ul>
            </li>
            <li>unordered item</li>
            <li>unordered item</li>
        </ul>
        <h3>Default</h3>
        <p>This is a paragraph. It should not have any alignment of any kind. It should just flow like you would
            normally expect. Nothing fancy. Just straight up text, free flowing, with love. Completely neutral and not
            picking a side or sitting on the fence. It just is. It just freaking is. It likes where it is. It does not
            feel compelled to pick a side. Leave him be. It will just be better that way. Trust me.</p>
        <h3>Left Align</h3>
        <p style="text-align: left;">This is a paragraph. It is left aligned. Because of this, it is a bit more liberal
            in it’s views. It’s favorite color is green. Left align tends to be more eco-friendly, but it provides no
            concrete evidence that it really is. Even though it likes share the wealth evenly, it leaves the equal
            distribution up to justified alignment.</p>
        <h3>Center Align</h3>
        <p style="text-align: center;">This is a paragraph. It is center aligned. Center is, but nature, a fence sitter.
            A flip flopper. It has a difficult time making up its mind. It wants to pick a side. Really, it does. It has
            the best intentions, but it tends to complicate matters more than help. The best you can do is try to win it
            over and hope for the best. I hear center align does take bribes.</p>
        <h3>Right Align</h3>
        <p style="text-align: right;">This is a paragraph. It is right aligned. It is a bit more conservative in it’s
            views. It’s prefers to not be told what to do or how to do it. Right align totally owns a slew of guns and
            loves to head to the range for some practice. Which is cool and all. I mean, it’s a pretty good shot from at
            least four or five football fields away. Dead on. So boss.</p>
        <h3>Justify Align</h3>
        <p style="text-align: justify;">This is a paragraph. It is justify aligned. It gets really mad when people
            associate it with Justin Timberlake. Typically, justified is pretty straight laced. It likes everything to
            be in it’s place and not all cattywampus like the rest of the aligns. I am not saying that makes it better
            than the rest of the aligns, but it does tend to put off more of an elitist attitude.</p>
        <blockquote><p>Sagittis justo gravida venenatis primis vitae quisque eu vulputate bibendum lacus orci fames
            blandit semper convallis tempus sociis tincidunt gravida laoreet penatibus congue iaculis dis justo ligula
            senectus tempor leo inceptos rhoncus platea nibh tortor senectus hendrerit dis lacinia arcu consectetur
            commodo vel class penatibus parturient vehicula a egestas porta</p>
            <footer>Someone famous in <cite title="Source Title"><a href="#">Source Title</a></cite></footer>
        </blockquote>
        <p><code><br>
            lacus orci fames blandit<br>
            semper convallis tempus sociis tincidunt<br>
            gravida laoreet penatibus congue<br>
        </code></p>
    </div>
</article>





