<div class="rocksite-m-nav-links">
    <div class="rocksite-m-nav-links__nav">
        <a href="#" rel="prev" class="rocksite-m-nav-links__nav__link">
            <span class="rocksite-a-button-icon "><i class="la la-angle-left"></i></span>
            <span class="rocksite-m-nav-links__nav__link__title">
            <span class="rocksite-m-nav-links__nav__link__meta-nav" aria-hidden="true">{{label1}}</span>
            <span class="screen-reader-text">{{label1}}</span>
            <span class="rocksite-m-nav-links__nav__link__title__text">{{title1}}</span>
                </span>
        </a>
    </div>
    <div class="rocksite-m-nav-links__nav  -next-link">
        <a href="#" rel="next" class="rocksite-m-nav-links__nav__link">
            <span class="rocksite-a-button-icon ">
					<i class="la la-angle-right"></i></span>
            <span class="rocksite-m-nav-links__nav__link__title">
			<span class="rocksite-m-nav-links__nav__link__meta-nav" aria-hidden="true">
				{{label2}}</span>
            <span class="screen-reader-text">{{label2}}</span>
            <span class="rocksite-m-nav-links__nav__link__title__text">{{title1}}</span>
            </span>
        </a>
    </div>
</div>