<div class="rocksite-w-our-clients {{modifier_class}}">
	<div class="container">
		<ul class="rocksite-w-our-clients__box-list ">
			<li class="rocksite-w-our-clients__box-list__item">
				<div class="row">
					<div class="col-sm-2">


						<a href="#">

							<img width="123" height="116" src="{{image1}}" class="attachment-thumbnail size-thumbnail" alt="">

						</a>



					</div>

					<div class="col-sm-2">


						<a href="#">

							<img width="137" height="116" src="{{image2}}" class="attachment-thumbnail size-thumbnail" alt="">

						</a>



					</div>

					<div class="col-sm-2">


						<a href="#">

							<img width="134" height="116" src="{{image3}}" class="attachment-thumbnail size-thumbnail" alt="">

						</a>



					</div>

					<div class="col-sm-2">


						<a href="#">

							<img width="122" height="116" src="{{image4}}" class="attachment-thumbnail size-thumbnail" alt="">

						</a>



					</div>

					<div class="col-sm-2">


						<a href="#">

							<img width="135" height="116" src="{{image5}}" class="attachment-thumbnail size-thumbnail" alt="">

						</a>



					</div>

					<div class="col-sm-2">

						<img width="135" height="116" src="{{image6}}" class="attachment-thumbnail size-thumbnail" alt="">


					</div>

				</div>
			</li>

		</ul>
	</div>
</div>
