<div class="rocksite-w-portfolio-box {{modifier_class}}">
	<div class="rocksite-w-portfolio-box__item">




	<div class="rocksite-w-portfolio-box__item__content rocksite-portfolio-item-box" style="">


		<div class="rocksite-w-portfolio-box__item__content__thumbnail rocksite-m-thumbnail"><img width="500" height="400" src="{{image1}}" class="attachment-rocksite-large-thumb size-rocksite-large-thumb wp-post-image" alt=""></div>

		<div class="rocksite-w-portfolio-box__item__content__caption">
			<aside class="rocksite-w-portfolio-box__item__content__caption__text"><h4>{{title1}}</h4>
				<p>{{description1}}</p>
			</aside>
			<div class="rocksite-m-btn-group">

				{{> "buttons-icon" icon="fa fa-link" modifier_class="-circle"}}
				{{> "buttons-icon" icon="fa fa-expand" modifier_class="-circle"}}

			</div>
		</div>
	</div>
</div>

	<div class="rocksite-w-portfolio-box__item">

		<div class="rocksite-w-portfolio-box__item__content rocksite-portfolio-item-box" style="">

			<div class="rocksite-w-portfolio-box__item__content__thumbnail rocksite-m-thumbnail"><img width="500" height="400" src="{{image2}}" class="attachment-rocksite-large-thumb size-rocksite-large-thumb wp-post-image" alt=""></div>

			<div class="rocksite-w-portfolio-box__item__content__caption">
				<aside class="rocksite-w-portfolio-box__item__content__caption__text"><h4>{{title2}}</h4>
					<p>{{description2}}</p>
				</aside>
				<div class="rocksite-m-btn-group">
					{{> "buttons-icon" icon="fa fa-link" modifier_class="-circle"}}
					{{> "buttons-icon" icon="fa fa-expand" modifier_class="-circle"}}
				</div>
			</div>
		</div>

	</div>

	<div class="rocksite-w-portfolio-box__item">




		<div class="rocksite-w-portfolio-box__item__content rocksite-portfolio-item-box" style="">


			<div class="rocksite-w-portfolio-box__item__content__thumbnail rocksite-m-thumbnail"><img width="500" height="400" src="{{image1}}" class="attachment-rocksite-large-thumb size-rocksite-large-thumb wp-post-image" alt=""></div>

			<div class="rocksite-w-portfolio-box__item__content__caption">
				<aside class="rocksite-w-portfolio-box__item__content__caption__text"><h4>{{title3}}</h4>
					<p>{{description3}}</p>
				</aside>
				<div class="rocksite-m-btn-group">

					{{> "buttons-icon" icon="fa fa-link" modifier_class="-circle"}}
					{{> "buttons-icon" icon="fa fa-expand" modifier_class="-circle"}}

				</div>
			</div>
		</div>
	</div>

	<div class="rocksite-w-portfolio-box__item">

		<div class="rocksite-w-portfolio-box__item__content rocksite-portfolio-item-box" style="">

			<div class="rocksite-w-portfolio-box__item__content__thumbnail rocksite-m-thumbnail"><img width="500" height="400" src="{{image2}}" class="attachment-rocksite-large-thumb size-rocksite-large-thumb wp-post-image" alt=""></div>

			<div class="rocksite-w-portfolio-box__item__content__caption">
				<aside class="rocksite-w-portfolio-box__item__content__caption__text"><h4>{{title4}}</h4>
					<p>{{description4}}</p>
				</aside>
				<div class="rocksite-m-btn-group">
					{{> "buttons-icon" icon="fa fa-link" modifier_class="-circle"}}
					{{> "buttons-icon" icon="fa fa-expand" modifier_class="-circle"}}
				</div>
			</div>
		</div>

	</div>
</div>
