/*
Navigation - breadcrumbs

Breadcrums displays current user position on the page

.-invert - inverted version

Markup: ../../../../styleguide/templates/molecules/breadcrumbs.html

Style guide: Molecules.breadcrumbs

Wrapper:
<div style="max-width:450px">
<wrapper-content/>
</div>

*/

.rocksite-m-breadcrumbs {

  @include list-core();
  display: flex;
  flex-wrap: wrap;

  &__item {

    font-size: 1.2rem;
    color: get-color-css(dark-gray1);
    line-height: 1.7;
    display: inline-block;

    a {

      color: get-color-css(dark-gray1);

      &:hover {

        color: get-color-css(primary);
        text-decoration: none;

      }

    }

    &__separator {

      display: inline-block;
      padding: 0 10px;

    }

  }

  &.-invert {

    .rocksite-m-breadcrumbs__item {

      color: get-color-css(invert);

      a {

        color: get-color-css(invert);
      }
    }

  }

}
